@define-color mantle #181825;
@define-color surface0 #313244;
@define-color mauve #cba6f7;
@define-color green #a6e3a1;

window#osd {
  padding: 0px;
  border-radius: 3px;
  border: 0.5px solid @surface0;
  background: @mantle;
}

window#osd #container {
  margin: 10px;
  padding: 0px 6px 0px 3px;
}

window#osd image,
window#osd label {
  color: @green;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar {
  min-height: 20px;
  border-radius: 3px;
  background: transparent;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: 3px;
  border: none;
  background: @surface0;
}

window#osd progress {
  min-height: inherit;
  border-radius: 3px;
  border: none;
  background: @mauve;
}
