@define-color bg #282828;
@define-color bg0_h #1d2021;
@define-color bg0_s #32302f;
@define-color bg0 #282828;
@define-color bg1 #3c3836;
@define-color bg2 #504945;
@define-color bg3 #665c54;
@define-color bg4 #7c6f64;

@define-color fg #ebdbb2;
@define-color fg0 #fbf1c7;
@define-color fg1 #ebdbb2;
@define-color fg2 #d5c4a1;
@define-color fg3 #bdae93;
@define-color fg4 #a89984;

@define-color red #cc241d;
@define-color green #98971a;
@define-color yellow #d78821;
@define-color blue #458588;
@define-color purple #b16286;
@define-color aqua #689d6a;
@define-color orange #d65d0e;
@define-color gray #a89984;


* {
    font-family: "Iosevka NFP";
    font-size: 15px;
}

window#waybar {
  background: @bg0_h;
  border-radius: 0px;
  margin: 1px 0px 0px 0px;
  border: 1px solid @bg
}

#cpu {
  margin-left: 8px;
}

#cpu,
#memory,
#temperature,
#disk,
#clock {
  color: @fg;
}

#temperature.critical {
 background-color: @red;
}

#clock {
  color: @fg;
}

#privacy-item.screenshare {
  color: @red;
}
#privacy-item.audio-in {
  color: @red;
}
#privacy-item.audio-out {
  color: @green;
}

#workspaces button {
  color: @fg4;
  padding: 0px;
}

#workspaces button.empty {
  color: @fg4;
}

#workspaces button.active {
  color: @fg;
}

#workspaces button.urgent {
  color: @red;
}

#network {
  color: @fg;
}

#idle_inhibitor {
  margin-right: 8px;
  color: @gray;
}

#idle_inhibitor.activated {
  color: @fg;
}

#custom-swaync {
  color: @gray;
}


#custom-swaync,
#custom-swaync.dnd-none,
#custom-swaync.dnd-inhibited-none {
  font-size: 14px;
  color: @fg2;
}

#custom-swaync.notification {
  color: @fg;
}

#custom-swaync.inhibited-notification,
#custom-swaync.dnd-notification,
#custom-swaync.dnd-inhibited-notification {
  color: @fg;
}

#tray {
  font-size: 10px;
  margin-right: 8px;
}
